<nav role="navigation">
  <ul>
    <li><a href="/projects/">Home</a></li>
    
    <!-- <li><a href="/colorie/tags">Tags</a></li> -->
    
    <!-- Only link that works -->
    <!-- <li><a href="/projects/paper">Papers</a></li> -->

    <!-- Only link that works -->
    <li><a href="/projects/certifications">Certifications</a></li>

    <li><a href="/projects/resume">Resume</a></li>
    
    <!-- <li><a href="/colorie/projects">Projects</a></li> -->
    
    <!-- <li><a href="/colorie/atom.xml">Feed</a></li> -->
    
  </ul>
</nav>
