---
layout: default
title: Notes
---

<div class="grid">

  {% for post in site.posts %}
  

    <article role="article" class="card">
	{% if forloop.first %}
	  <span class="new-ribbon" aria-label="New project">NEW</span>
	{% elsif post.award_winning %}
	  <span class="award-ribbon" aria-label="Award-winning project">AWARD WINNING</span>
	{% endif %}
	    <div class="meta">
 <!--      <h2><a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a></h2> -->
      <h2><a href="{{ post.url }}">
        {{ post.title }}
      </a></h2>
      <p>{{ post.summary }}</p>
        <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time> 
	    </div>
  
    </article>
    
  {% endfor %}
  
   </div>
